body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #36A9E1;
  padding: 15px 20px 0 20px;
  position: sticky;
  top: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
}

.chatbox-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  max-width: 320px;
  margin: auto;
  flex-direction: column;
  align-items: left;
}

.profile-picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
}

.container-sms {
  margin: 0 20px 20px 20px;
  max-width: 75%;
}

.contenu-sms {
  border-radius: 15px 15px 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 5px 0;
  padding: 10px 10px;
}
.container-sms-user {
  align-self: flex-end;
}

.container-sms-user {
  text-align: right;
}

.container-sms-zelo .contenu-sms {
  background: lightblue;
  border-radius: 15px 15px 15px 15px;
}

.container-sms-user .contenu-sms {
  background: lightgreen;
}

footer {
  background: gray;
  display: flex;
  justify-content: center;
  padding: 20px 20px 40px 20px;
  position: sticky;
  bottom: 0;
}

input {
  background: white;
  width: 200px; 
  height: 10px;
  border-radius: 15px;
  border: 0;
  padding: 10px;
  margin-right: 10px;
}

button {
  background: white;
  width: 40px; 
  height: 30px;
  border-radius: 15px;
  border: 0;
}