body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #9d5353;
  padding: 0 20px;
  position: sticky;
  top: 0;
}

.chatbox-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-items: left;
}

.message-box {
  margin: 0 20px 20px 20px;
  max-width: 75%;
}

.message-content {
  border-radius: 15px 15px 15px 0;
  font-family: monospace;
  background: lightsalmon;
  margin: 0 0 5px 0;
  padding: 10px 15px;
}
.message-box-zelo {
  align-self: flex-end;
}

.message-box-zelo {
  text-align: right;
}

.message-box-zelo .message-content {
  background: lightblue;
  border-radius: 15px 15px 0 15px;
}

.message-box-user .message-content {
  background: lightgreen;
}

footer {
  background: gray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0;
}